@import 'mixins/mixins';

@include b(card) {
  border-radius: var(--card-border-radius);
  border: 1px solid var(--card-border-color);
  background-color: var(--background-color-base);
  overflow: hidden;
  color: var(--color-text-primary);
  transition: 0.3s;

  @include when(always-shadow) {
    box-shadow: var(--box-shadow-light);
  }

  @include when(hover-shadow) {
    &:hover,
    &:focus {
      box-shadow: var(--box-shadow-light);
    }
  }

  @include e(header) {
    padding: var(--card-padding);
    border-bottom: 1px solid var(--card-border-color);
    box-sizing: border-box;
  }

  @include e(body) {
    padding: var(--card-padding);
  }
}
