@import 'common/var';

@font-face {
  font-family: 'icon_yc'; /* Project id 4841030 */
  src: url('#{$--font-path}/iconfont_yc.woff2') format('woff2');
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^='icon_yc-'],
[class*=' icon_yc-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon_yc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_yc-wubiaoyongdianjiance:before {
  content: '\e96f';
}

.icon_yc-anliku:before {
  content: '\e970';
}

.icon_yc-dantaiquzhinengzhenduan:before {
  content: '\e971';
}

.icon_yc-fenshiduanxiansunshiduanpeizhi:before {
  content: '\e972';
}

.icon_yc-taiquzhenduanbaogao:before {
  content: '\e967';
}

.icon_yc-fuheqiegaimoxingweihu:before {
  content: '\e968';
}

.icon_yc-taiqutongyishitu:before {
  content: '\e969';
}

.icon_yc-peizhianniu:before {
  content: '\e96a';
}

.icon_yc-fenxiangxiansunmoxingweihu:before {
  content: '\e96b';
}

.icon_yc-zhuanjiaku:before {
  content: '\e96c';
}

.icon_yc-yuebao1:before {
  content: '\e96d';
}

.icon_yc-zerenrenweihu:before {
  content: '\e96e';
}

.icon_yc-rengongzhenduanshenhuafenxi:before {
  content: '\e966';
}

.icon_yc-yuebao:before {
  content: '\e965';
}

.icon_yc-zhongduanbaimingdan:before {
  content: '\e963';
}

.icon_yc-daoruzhongduan:before {
  content: '\e964';
}

.icon_yc-tongbuzhisuojuAPP:before {
  content: '\e962';
}

.icon_yc-hedian:before {
  content: '\e95e';
}

.icon_yc-chuneng:before {
  content: '\e95f';
}

.icon_yc-fadian:before {
  content: '\e960';
}

.icon_yc-shuidian:before {
  content: '\e961';
}

.icon_yc-fengdian:before {
  content: '\e95b';
}

.icon_yc-biandianzhan:before {
  content: '\e95c';
}

.icon_yc-guangfu:before {
  content: '\e95d';
}

.icon_yc-bianhao:before {
  content: '\e959';
}

.icon_yc-biaoqian1:before {
  content: '\e95a';
}

.icon_yc-liriyingxiaohuituibiaojishu-1:before {
  content: '\e957';
}

.icon_yc-shengxu:before {
  content: '\e958';
}

.icon_yc-liridaifabuyingxiaobiaojishu:before {
  content: '\e94f';
}

.icon_yc-lirifabuyingxiaobiaojishu:before {
  content: '\e950';
}

.icon_yc-liricaijishibaibiaojishu:before {
  content: '\e952';
}

.icon_yc-lirichaobiaobiaojishu:before {
  content: '\e953';
}

.icon_yc-jiangxu:before {
  content: '\e954';
}

.icon_yc-liriyingxiaohuituibiaojishu:before {
  content: '\e955';
}

.icon_yc-liriyonghushu:before {
  content: '\e956';
}

.icon_yc-yichu1:before {
  content: '\e94d';
}

.icon_yc-yiru-zuo:before {
  content: '\e94e';
}

.icon_yc-yiru:before {
  content: '\e94b';
}

.icon_yc-yichu:before {
  content: '\e94c';
}

.icon_yc-yijishenhe:before {
  content: '\e949';
}

.icon_yc-yijishenhetongguo:before {
  content: '\e94a';
}

.icon_yc-yijianfabu:before {
  content: '\e8b8';
}

.icon_yc-yifaqishenhe:before {
  content: '\e8ca';
}

.icon_yc-yijishenhetuihui:before {
  content: '\e8f1';
}

.icon_yc-yifaqishougongtongzhi:before {
  content: '\e938';
}

.icon_yc-erjishenhe:before {
  content: '\e945';
}

.icon_yc-erjishenhetongguo:before {
  content: '\e946';
}

.icon_yc-erjishenhetuihui:before {
  content: '\e947';
}

.icon_yc-shougongtongzhi:before {
  content: '\e948';
}

.icon_yc-shujuxiang:before {
  content: '\e88e';
}

.icon_yc-yixuanshujuxiang:before {
  content: '\e88f';
}

.icon_yc-scliucheng:before {
  content: '\e884';
}

.icon_yc-bangzhuzhongxin:before {
  content: '\e874';
}

.icon_yc-canshuliebiaoshouqi:before {
  content: '\e872';
}

.icon_yc-canshuliebiaozhankai:before {
  content: '\e873';
}

.icon_yc-shang1:before {
  content: '\e871';
}

.icon_yc-xia1:before {
  content: '\e836';
}

.icon_yc-dianchiyichangshu:before {
  content: '\e834';
}

.icon_yc-suoliangyichangshu:before {
  content: '\e827';
}

.icon_yc-gongdianchuangyichangshu:before {
  content: '\e830';
}

.icon_yc-gengduojiantou:before {
  content: '\e825';
}

.icon_yc-canshuguanliliebiaozhankai:before {
  content: '\e811';
}

.icon_yc-canshuguanliliebiaoshouqi:before {
  content: '\e821';
}

.icon_yc-yichusuoxuan:before {
  content: '\e796';
}

.icon_yc-guanlidanwei1:before {
  content: '\e940';
}

.icon_yc-guanwangdangan:before {
  content: '\e941';
}

.icon_yc-shebeiyunhang:before {
  content: '\e942';
}

.icon_yc-peiwangceshebei:before {
  content: '\e943';
}

.icon_yc-nibianqishebei:before {
  content: '\e944';
}

.icon_yc-shebeizichan:before {
  content: '\e93c';
}

.icon_yc-zijianshebeichaxunpei:before {
  content: '\e93d';
}

.icon_yc-huganqijiance:before {
  content: '\e93e';
}

.icon_yc-yonghudangan:before {
  content: '\e93f';
}

.icon_yc-u72:before {
  content: '\e93a';
}

.icon_yc-u98:before {
  content: '\e93b';
}

.icon_yc-piliangdaoru1:before {
  content: '\e939';
}

.icon_yc-chaichu:before {
  content: '\e937';
}

.icon_yc-funnel-dus:before {
  content: '\e936';
}

.icon_yc-funnel-filled:before {
  content: '\e935';
}

.icon_yc-funnel-a:before {
  content: '\e934';
}

.icon_yc-funnel:before {
  content: '\e933';
}

.icon_yc-canshuliebiaoquanbuxuan:before {
  content: '\e932';
}

.icon_yc-duixiangdaohangqiehuanyemian:before {
  content: '\e930';
}

.icon_yc-duixiangdaohangsousuo:before {
  content: '\e931';
}

.icon_yc-duixiangdaohangtianjiashoucang:before {
  content: '\e927';
}

.icon_yc-duixiangdaohangzhongduan:before {
  content: '\e928';
}

.icon_yc-duixiangdaohangtianzhiyouce:before {
  content: '\e929';
}

.icon_yc-duixiangdaohangwanchenggenggai:before {
  content: '\e92a';
}

.icon_yc-duixiangdaohangtaiqu:before {
  content: '\e92b';
}

.icon_yc-duixiangdaohangbaoliuyixuan:before {
  content: '\e92c';
}

.icon_yc-duixiangdaohangfadianhu:before {
  content: '\e92d';
}

.icon_yc-duixiangdaohangquchuyixuan:before {
  content: '\e92e';
}

.icon_yc-duixiangdaohanggaojichaxun:before {
  content: '\e92f';
}

.icon_yc-duixiangdaohangshoucangliebiao:before {
  content: '\e85c';
}

.icon_yc-duixiangdaohangyongdianhu:before {
  content: '\e85d';
}

.icon_yc-duixiangdaohangtongbu:before {
  content: '\e85f';
}

.icon_yc-shoucang2:before {
  content: '\e858';
}

.icon_yc-quxiaoshoucang:before {
  content: '\e85b';
}

.icon_yc-laba:before {
  content: '\e857';
}

.icon_yc-xitongzhicheng:before {
  content: '\e815';
}

.icon_yc-jizuoyingyong:before {
  content: '\e816';
}

.icon_yc-shoucang1:before {
  content: '\e817';
}

.icon_yc-jichucaiji:before {
  content: '\e819';
}

.icon_yc-guangfujikongpingtai:before {
  content: '\e850';
}

.icon_yc-zhinengyunwei:before {
  content: '\e854';
}

.icon_yc-tuozhanyingyong:before {
  content: '\e855';
}

.icon_yc-jibenyingyong:before {
  content: '\e856';
}

.icon_yc-anquanyinsi:before {
  content: '\e98b';
}

.icon_yc-zhongduan2:before {
  content: '\e717';
}

.icon_yc-jiliangdian1:before {
  content: '\e814';
}

.icon_yc-qt:before {
  content: '\e716';
}

.icon_yc-chuanganqi1:before {
  content: '\e715';
}

.icon_yc-duanluqi2:before {
  content: '\e709';
}

.icon_yc-fenzhi1:before {
  content: '\e70b';
}

.icon_yc-suoju1:before {
  content: '\e70e';
}

.icon_yc-kehuce1:before {
  content: '\e70f';
}

.icon_yc-qita2:before {
  content: '\e710';
}

.icon_yc-huganqi1:before {
  content: '\e711';
}

.icon_yc-dianbiao3:before {
  content: '\e714';
}

.icon_yc-caiji:before {
  content: '\e925';
}

.icon_yc-biaoti:before {
  content: '\e926';
}

.icon_yc-zhuanbianzhongduan:before {
  content: '\e91c';
}

.icon_yc-yingxiao1:before {
  content: '\e91d';
}

.icon_yc-concentrator2:before {
  content: '\e91e';
}

.icon_yc-qibiao:before {
  content: '\e91f';
}

.icon_yc-dianbiao-1:before {
  content: '\e920';
}

.icon_yc-ercihuilu:before {
  content: '\e921';
}

.icon_yc-luyouqi:before {
  content: '\e922';
}

.icon_yc-diannengbiao:before {
  content: '\e923';
}

.icon_yc-caijiqi1:before {
  content: '\e924';
}

.icon_yc-rebiao:before {
  content: '\e919';
}

.icon_yc-shuibiao:before {
  content: '\e91a';
}

.icon_yc-peibianzhongduan:before {
  content: '\e91b';
}

.icon_yc-biaojishizhun:before {
  content: '\e913';
}

.icon_yc-zuixiaofuhe1:before {
  content: '\e914';
}

.icon_yc-biaoxiangduanlu:before {
  content: '\e915';
}

.icon_yc-Bxiangzukang:before {
  content: '\e916';
}

.icon_yc-biaowaiyongdian:before {
  content: '\e917';
}

.icon_yc-Cxiangzukang:before {
  content: '\e918';
}

.icon_yc-dianrelei:before {
  content: '\e8f2';
}

.icon_yc-chufangdianqilei:before {
  content: '\e8f4';
}

.icon_yc-dizhi:before {
  content: '\e8f6';
}

.icon_yc-chongdianzhuang1:before {
  content: '\e905';
}

.icon_yc-gaodian:before {
  content: '\e909';
}

.icon_yc-dizhi-1:before {
  content: '\e90c';
}

.icon_yc-dianbiao2:before {
  content: '\e90d';
}

.icon_yc-didian:before {
  content: '\e90e';
}

.icon_yc-lilundianliang:before {
  content: '\e8cc';
}

.icon_yc-gongdianliang:before {
  content: '\e8d4';
}

.icon_yc-gongdiandanwei:before {
  content: '\e8d8';
}

.icon_yc-chacuodianliang:before {
  content: '\e8de';
}

.icon_yc-Axiangzukang:before {
  content: '\e8e1';
}

.icon_yc-ganxian:before {
  content: '\e8ed';
}

.icon_yc-sunshidianliang:before {
  content: '\e89c';
}

.icon_yc-tishi:before {
  content: '\e8a1';
}

.icon_yc-taiqurongliang:before {
  content: '\e8a2';
}

.icon_yc-pianchadianliang:before {
  content: '\e8be';
}

.icon_yc-shizhundianliang:before {
  content: '\e8c4';
}

.icon_yc-kongtiaolei:before {
  content: '\e8cb';
}

.icon_yc-zuidafuhe2:before {
  content: '\e885';
}

.icon_yc-yonghu:before {
  content: '\e893';
}

.icon_yc-yongdianliang:before {
  content: '\e894';
}

.icon_yc-zhongduan1:before {
  content: '\e896';
}

.icon_yc-dianpingchechongdian:before {
  content: '\e898';
}

.icon_yc-taiqutingdian:before {
  content: '\e899';
}

.icon_yc-xuanzhong:before {
  content: '\e89a';
}

.icon_yc-zhixian:before {
  content: '\e89b';
}

.icon_yc-qitalei:before {
  content: '\e876';
}

.icon_yc-zuixiao:before {
  content: '\e877';
}

.icon_yc-zuida:before {
  content: '\e879';
}

.icon_yc-zhongfa:before {
  content: '\e859';
}

.icon_yc-xiafa:before {
  content: '\e85a';
}

.icon_yc-qiyong:before {
  content: '\e860';
}

.icon_yc-peizhi:before {
  content: '\e82f';
}

.icon_yc-xiaozhun:before {
  content: '\e83f';
}

.icon_yc-fanhui1:before {
  content: '\e845';
}

.icon_yc-tingyong1:before {
  content: '\e84b';
}

.icon_yc-zhaocezhitongbudaoshedingzhianniu:before {
  content: '\e80b';
}

.icon_yc-down1:before {
  content: '\e802';
}

.icon_yc-zhankai1:before {
  content: '\e809';
}

.icon_yc-zhankai2:before {
  content: '\e80a';
}

.icon_yc-exchange:before {
  content: '\e801';
}

.icon_yc-upvoteFull:before {
  content: '\e7ff';
}

.icon_yc-kownledge:before {
  content: '\e7fa';
}

.icon_yc-botQA:before {
  content: '\e7fb';
}

.icon_yc-intellSearch:before {
  content: '\e7f9';
}

.icon_yc-upvote:before {
  content: '\e7f7';
}

.icon_yc-___31273_u331:before {
  content: '\e7e5';
}

.icon_yc-u334:before {
  content: '\e7df';
}

.icon_yc-gf-home05:before {
  content: '\e7ee';
}

.icon_yc-gf-home04:before {
  content: '\e7f6';
}

.icon_yc-gf-home021:before {
  content: '\e7e7';
}

.icon_yc-gf-home01:before {
  content: '\e7ea';
}

.icon_yc-gf-home03:before {
  content: '\e7d7';
}

.icon_yc-shaixuanqi:before {
  content: '\e7d6';
}

.icon_yc-chaxun:before {
  content: '\e7cc';
}

.icon_yc-zhongduan:before {
  content: '\e7cb';
}

.icon_yc-fenzhixiang:before {
  content: '\e7c3';
}

.icon_yc-fanhuijiawenzi:before {
  content: '\e7c1';
}

.icon_yc-fanhui:before {
  content: '\e7bf';
}

.icon_yc-anmoban:before {
  content: '\e7bc';
}

.icon_yc-anyonghu:before {
  content: '\e7bb';
}

.icon_yc-tiaozhuan:before {
  content: '\e7ba';
}

.icon_yc-a-lianhe1:before {
  content: '\e7b9';
}

.icon_yc-dingwei:before {
  content: '\e7b8';
}

.icon_yc-saozhou:before {
  content: '\e7b6';
}

.icon_yc-upload_file:before {
  content: '\e7ab';
}

.icon_yc-editor_fullpencil:before {
  content: '\e7ac';
}

.icon_yc-dingweiweizhi:before {
  content: '\e7a9';
}

.icon_yc-shenpi2:before {
  content: '\e7a4';
}

.icon_yc-check:before {
  content: '\e79d';
}

.icon_yc-shenpi1:before {
  content: '\e79a';
}

.icon_yc-zijianshebei3:before {
  content: '\e77f';
}

.icon_yc-xiaxian:before {
  content: '\e77c';
}

.icon_yc-zhongjisuan:before {
  content: '\e779';
}

.icon_yc-u4717:before {
  content: '\e776';
}

.icon_yc-dangan:before {
  content: '\e775';
}

.icon_yc-a-11:before {
  content: '\e772';
}

.icon_yc-a-21:before {
  content: '\e773';
}

.icon_yc-a-31:before {
  content: '\e774';
}

.icon_yc-weihu1:before {
  content: '\e76c';
}

.icon_yc-zhengchang:before {
  content: '\e76d';
}

.icon_yc-tingyun:before {
  content: '\e76f';
}

.icon_yc-yichang2:before {
  content: '\e771';
}

.icon_yc-chufang:before {
  content: '\e75d';
}

.icon_yc-biaoqian:before {
  content: '\e75e';
}

.icon_yc-dianre:before {
  content: '\e75f';
}

.icon_yc-qita1:before {
  content: '\e760';
}

.icon_yc-kongtiao:before {
  content: '\e76b';
}

.icon_yc-yichang1:before {
  content: '\e75a';
}

.icon_yc-tingzhi:before {
  content: '\e75b';
}

.icon_yc-weihu:before {
  content: '\e75c';
}

.icon_yc-baocun:before {
  content: '\e758';
}

.icon_yc-sousuo:before {
  content: '\e747';
}

.icon_yc-shoucang:before {
  content: '\e748';
}

.icon_yc-shouqi:before {
  content: '\e749';
}

.icon_yc-zhankai:before {
  content: '\e757';
}

.icon_yc-gaojing1:before {
  content: '\e746';
}

.icon_yc-daoqichanpin:before {
  content: '\e7b3';
}

.icon_yc-fankui:before {
  content: '\e744';
}

.icon_yc-fuzhi:before {
  content: '\e745';
}

.icon_yc-shizhongpianchayichang:before {
  content: '\e6cc';
}

.icon_yc-shujucuoweiyichang:before {
  content: '\e6d6';
}

.icon_yc-shujuqueshiyichang:before {
  content: '\e6d7';
}

.icon_yc-shujushizhenyichang:before {
  content: '\e6e4';
}

.icon_yc-biao:before {
  content: '\e6b5';
}

.icon_yc-shenhe:before {
  content: '\e6a7';
}

.icon_yc-tijiaoshenhe:before {
  content: '\e6ab';
}

.icon_yc-chuli:before {
  content: '\e69b';
}

.icon_yc-fuhe4:before {
  content: '\e6a5';
}

.icon_yc-fuhe3:before {
  content: '\e682';
}

.icon_yc-dianya:before {
  content: '\e694';
}

.icon_yc-fadianliang:before {
  content: '\e696';
}

.icon_yc-dianliu:before {
  content: '\e6a4';
}

.icon_yc-zonghesum1:before {
  content: '\e76e';
}

.icon_yc-table:before {
  content: '\e73c';
}

.icon_yc-icon_fx1:before {
  content: '\e683';
}

.icon_yc-line-parenthesesyuankuohao:before {
  content: '\e743';
}

.icon_yc-taiqu:before {
  content: '\e67c';
}

.icon_yc-yidongxinhao:before {
  content: '\e67a';
}

.icon_yc-daichuli:before {
  content: '\e644';
}

.icon_yc-yichangzongshu1:before {
  content: '\e652';
}

.icon_yc-weiguidangyichang:before {
  content: '\e654';
}

.icon_yc-xinzengyichang1:before {
  content: '\e66a';
}

.icon_yc-yichangzongshu:before {
  content: '\e625';
}

.icon_yc-xinzengyichang:before {
  content: '\e630';
}

.icon_yc-guidangyichang:before {
  content: '\e638';
}

.icon_yc-weiguidangshu:before {
  content: '\e643';
}

.icon_yc-gaochengnihe:before {
  content: '\e63f';
}

.icon_yc-down:before {
  content: '\e618';
}

.icon_yc-up1:before {
  content: '\e61e';
}

.icon_yc-chongdianzhuang:before {
  content: '\e60f';
}

.icon_yc-shenpi:before {
  content: '\e667';
}

.icon_yc-jizhongqi1-copy:before {
  content: '\e601';
}

.icon_yc-cygn:before {
  content: '\e73e';
}

.icon_yc-canshuxiafa:before {
  content: '\e616';
}

.icon_yc-yingyong:before {
  content: '\e90f';
}

.icon_yc-weiyingyong:before {
  content: '\e910';
}

.icon_yc-weifuwu:before {
  content: '\e911';
}

.icon_yc-weiqianduan:before {
  content: '\e912';
}

.icon_yc-fenbushi1:before {
  content: '\e98d';
}

.icon_yc-yichangtaiqu:before {
  content: '\e69f';
}

.icon_yc-yichangyonghu1:before {
  content: '\e6a6';
}

.icon_yc-kapianquan:before {
  content: '\e90b';
}

.icon_yc-yonghu1:before {
  content: '\e8f7';
}

.icon_yc-taiqushu:before {
  content: '\e901';
}

.icon_yc-zhongduanshu:before {
  content: '\e902';
}

.icon_yc-taiqujingli_1:before {
  content: '\e903';
}

.icon_yc-biaotilingxing:before {
  content: '\e904';
}

.icon_yc-defen100:before {
  content: '\e906';
}

.icon_yc-dianbiao1:before {
  content: '\e907';
}

.icon_yc-fenbushi:before {
  content: '\e908';
}

.icon_yc-guanlidanwei:before {
  content: '\e90a';
}

.icon_yc-youcedefenbeijing:before {
  content: '\e8f3';
}

.icon_yc-fabu:before {
  content: '\e8c7';
}

.icon_yc-select:before {
  content: '\e8d0';
}

.icon_yc-update:before {
  content: '\e86b';
}

.icon_yc-yml:before {
  content: '\e86c';
}

.icon_yc-message2:before {
  content: '\e86d';
}

.icon_yc-sql:before {
  content: '\e86e';
}

.icon_yc-json:before {
  content: '\e86f';
}

.icon_yc-homologous:before {
  content: '\e870';
}

.icon_yc-u15445:before {
  content: '\e86a';
}

.icon_yc-caijiyunwei:before {
  content: '\e837';
}

.icon_yc-guangfujiankong:before {
  content: '\e863';
}

.icon_yc-jiliangyichang:before {
  content: '\e864';
}

.icon_yc-zhuye1:before {
  content: '\e865';
}

.icon_yc-tingdianjiance:before {
  content: '\e866';
}

.icon_yc-xiansunjiance1:before {
  content: '\e867';
}

.icon_yc-feikongzhihang:before {
  content: '\e868';
}

.icon_yc-peiwangjiance:before {
  content: '\e869';
}

.icon_yc-guangfujiankong1:before {
  content: '\e8fa';
}

.icon_yc-tingdianjiance1:before {
  content: '\e8fb';
}

.icon_yc-caijiyunwei1:before {
  content: '\e8fc';
}

.icon_yc-feikongzhihang1:before {
  content: '\e8fd';
}

.icon_yc-peiwangjiance1:before {
  content: '\e8fe';
}

.icon_yc-xiansunjiance2:before {
  content: '\e8ff';
}

.icon_yc-jiliangyichang1:before {
  content: '\e900';
}

.icon_yc-gongbian1:before {
  content: '\e8f8';
}

.icon_yc-zhuanbian1:before {
  content: '\e8f9';
}

.icon_yc-shujuxiangpeizhi:before {
  content: '\e8f5';
}

.icon_yc-gaojing:before {
  content: '\e8c3';
}

.icon_yc-dispatch:before {
  content: '\e8d9';
}

.icon_yc-equip-list:before {
  content: '\e8da';
}

.icon_yc-job-cjyc:before {
  content: '\e8db';
}

.icon_yc-job-dnbcssz:before {
  content: '\e8dc';
}

.icon_yc-job-fltz:before {
  content: '\e8dd';
}

.icon_yc-job-dnbmyxz:before {
  content: '\e8df';
}

.icon_yc-job-sqsdtz:before {
  content: '\e8e0';
}

.icon_yc-job-status-return:before {
  content: '\e8e2';
}

.icon_yc-job-scjy:before {
  content: '\e8e3';
}

.icon_yc-job-xcjs:before {
  content: '\e8e4';
}

.icon_yc-job-jlyc:before {
  content: '\e8e5';
}

.icon_yc-more2:before {
  content: '\e8e6';
}

.icon_yc-job-xccz:before {
  content: '\e8e7';
}

.icon_yc-job-zdcssz:before {
  content: '\e8e8';
}

.icon_yc-title-bg:before {
  content: '\e8e9';
}

.icon_yc-job-xctfd:before {
  content: '\e8ea';
}

.icon_yc-job-xcbc:before {
  content: '\e8eb';
}

.icon_yc-reduce:before {
  content: '\e8ec';
}

.icon_yc-reassign:before {
  content: '\e8ee';
}

.icon_yc-user-head:before {
  content: '\e8ef';
}

.icon_yc-job-zdmyxz:before {
  content: '\e8f0';
}

.icon_yc-duanluqi-2:before {
  content: '\e8d5';
}

.icon_yc-bianyaqiraozu-2:before {
  content: '\e8d6';
}

.icon_yc-huanliuqi-2:before {
  content: '\e8d7';
}

.icon_yc-a-zu40824:before {
  content: '\e8d3';
}

.icon_yc-guankou:before {
  content: '\e8d2';
}

.icon_yc-jiliangdian:before {
  content: '\e8d1';
}

.icon_yc-a-ji:before {
  content: '\e8cd';
}

.icon_yc-a-ji1:before {
  content: '\e8ce';
}

.icon_yc-a-ji2:before {
  content: '\e8cf';
}

.icon_yc-muxian:before {
  content: '\e8b9';
}

.icon_yc-xianlu:before {
  content: '\e8bf';
}

.icon_yc-xianduan:before {
  content: '\e8c0';
}

.icon_yc-kaiguan:before {
  content: '\e8c1';
}

.icon_yc-huanliuzhan:before {
  content: '\e8c2';
}

.icon_yc-fadianzhan:before {
  content: '\e8c5';
}

.icon_yc-fuhe2:before {
  content: '\e8c6';
}

.icon_yc-duanluqi:before {
  content: '\e8c8';
}

.icon_yc-dianbiao:before {
  content: '\e8c9';
}

.icon_yc-xiansunjiance:before {
  content: '\e8b7';
}

.icon_yc-curve:before {
  content: '\e8b6';
}

.icon_yc-quxian2:before {
  content: '\e8bb';
}

.icon_yc-ridongjie1:before {
  content: '\e8bc';
}

.icon_yc-linshixunjian1:before {
  content: '\e8bd';
}

.icon_yc-yichangyonghu:before {
  content: '\e8ba';
}

.icon_yc-biangeng:before {
  content: '\e8b3';
}

.icon_yc-piliangdaoru:before {
  content: '\e8b4';
}

.icon_yc-zhuangjie:before {
  content: '\e8b5';
}

.icon_yc-canshubidui:before {
  content: '\e8b2';
}

.icon_yc-heshifankui:before {
  content: '\e8a3';
}

.icon_yc-jiarufangan:before {
  content: '\e8a4';
}

.icon_yc-fanganxiafa:before {
  content: '\e8a5';
}

.icon_yc-fankuijieguo:before {
  content: '\e8a6';
}

.icon_yc-fugaidangqianmoban:before {
  content: '\e8a7';
}

.icon_yc-lingcunweimoban:before {
  content: '\e8a8';
}

.icon_yc-shangbao:before {
  content: '\e8a9';
}

.icon_yc-piliangshezhi1:before {
  content: '\e8aa';
}

.icon_yc-quanbushezhi1:before {
  content: '\e8ab';
}

.icon_yc-shengchengfangan:before {
  content: '\e8ac';
}

.icon_yc-shangbaoshenhe:before {
  content: '\e8ad';
}

.icon_yc-tianjiayonghu:before {
  content: '\e8ae';
}

.icon_yc-zhibiaofenjie:before {
  content: '\e8af';
}

.icon_yc-zhidingfangan:before {
  content: '\e8b0';
}

.icon_yc-wanshanfangan:before {
  content: '\e8b1';
}

.icon_yc-a-jianqu70:before {
  content: '\e89d';
}

.icon_yc-jieruyonghushu:before {
  content: '\e89e';
}

.icon_yc-guangfuyonghushu:before {
  content: '\e89f';
}

.icon_yc-shishifadian:before {
  content: '\e8a0';
}

.icon_yc-group:before {
  content: '\e897';
}

.icon_yc-zhihangguoqi:before {
  content: '\e895';
}

.icon_yc-u12590:before {
  content: '\e892';
}

.icon_yc-u9169:before {
  content: '\e890';
}

.icon_yc-u5544:before {
  content: '\e891';
}

.icon_yc-yichangjiance:before {
  content: '\e835';
}

.icon_yc-a-shangxianqingkuangyibushu:before {
  content: '\e82e';
}

.icon_yc-shishihecha:before {
  content: '\e82d';
}

.icon_yc-quyuxianshi:before {
  content: '\e829';
}

.icon_yc-zhibiaojiance:before {
  content: '\e82b';
}

.icon_yc-tingdian:before {
  content: '\e824';
}

.icon_yc-dianbiao-sanxiang:before {
  content: '\e818';
}

.icon_yc-bianyaqi:before {
  content: '\e822';
}

.icon_yc-gongdanzhihangchenggongshuai:before {
  content: '\e88d';
}

.icon_yc-xiangshangjiantoucuxiao:before {
  content: '\e88b';
}

.icon_yc-_xiangxiajiantoucuxiao:before {
  content: '\e88c';
}

.icon_yc-tingyong:before {
  content: '\e88a';
}

.icon_yc-huitui:before {
  content: '\e889';
}

.icon_yc-a-Datamonitoring:before {
  content: '\e888';
}

.icon_yc-shujuxiangluru:before {
  content: '\e887';
}

.icon_yc-a-gengduo1:before {
  content: '\e886';
}

.icon_yc-tingdiancishu-xuanzhong:before {
  content: '\e882';
}

.icon_yc-chaihuanbiaoshu-xuanzhong:before {
  content: '\e883';
}

.icon_yc-topology:before {
  content: '\e881';
}

.icon_yc-jisuanqi:before {
  content: '\e880';
}

.icon_yc-a-qiehuan1:before {
  content: '\e87f';
}

.icon_yc-gongdanguanli:before {
  content: '\e87d';
}

.icon_yc-zhinengwenda:before {
  content: '\e87e';
}

.icon_yc-guangfutaiqushu:before {
  content: '\e878';
}

.icon_yc-bianji:before {
  content: '\e875';
}

.icon_yc-weicaina:before {
  content: '\e861';
}

.icon_yc-yicaina:before {
  content: '\e862';
}

.icon_yc-rengongchufa:before {
  content: '\e85e';
}

.icon_yc-a-duanxin1:before {
  content: '\e853';
}

.icon_yc-fenpai:before {
  content: '\e84c';
}

.icon_yc-jieshou:before {
  content: '\e84d';
}

.icon_yc-shangchuanziduanmoxing:before {
  content: '\e84e';
}

.icon_yc-daochujilu:before {
  content: '\e84f';
}

.icon_yc-shangchuanyanglishuju:before {
  content: '\e851';
}

.icon_yc-xulie:before {
  content: '\e852';
}

.icon_yc-a-zu36516:before {
  content: '\e848';
}

.icon_yc-a-zu36518:before {
  content: '\e849';
}

.icon_yc-a-zu36517:before {
  content: '\e84a';
}

.icon_yc-jifen:before {
  content: '\e846';
}

.icon_yc-zhishitupu:before {
  content: '\e847';
}

.icon_yc-a-zu36478:before {
  content: '\e841';
}

.icon_yc-a-ketang:before {
  content: '\e844';
}

.icon_yc-shujutupu:before {
  content: '\e840';
}

.icon_yc-14:before {
  content: '\e842';
}

.icon_yc-zhuanjia:before {
  content: '\e843';
}

.icon_yc-zhishiku:before {
  content: '\e83e';
}

.icon_yc-chanpincaijiguanli:before {
  content: '\e83d';
}

.icon_yc-remen:before {
  content: '\e83c';
}

.icon_yc-a-zujian2501:before {
  content: '\e83b';
}

.icon_yc-a-1:before {
  content: '\e838';
}

.icon_yc-a-3:before {
  content: '\e839';
}

.icon_yc-a-2:before {
  content: '\e83a';
}

.icon_yc-guangfujiance:before {
  content: '\e820';
}

.icon_yc-diqujiance:before {
  content: '\e81c';
}

.icon_yc-biaoji:before {
  content: '\e81d';
}

.icon_yc-bangding:before {
  content: '\e81e';
}

.icon_yc-fujintaiqu:before {
  content: '\e81f';
}

.icon_yc-weizhi:before {
  content: '\e823';
}

.icon_yc-tiaokongzhongduan:before {
  content: '\e826';
}

.icon_yc-nibianqi:before {
  content: '\e828';
}

.icon_yc-ceju:before {
  content: '\e82a';
}

.icon_yc-taiqujiance:before {
  content: '\e82c';
}

.icon_yc-quanshengzhibiao:before {
  content: '\e831';
}

.icon_yc-quanbubiaoxiang:before {
  content: '\e832';
}

.icon_yc-diquGIS:before {
  content: '\e833';
}

.icon_yc-wenjiandaochu:before {
  content: '\e81b';
}

.icon_yc-qita:before {
  content: '\e81a';
}

.icon_yc-icon_list_qiyong:before {
  content: '\e718';
}

.icon_yc-xin:before {
  content: '\e7de';
}

.icon_yc-fei:before {
  content: '\e7ec';
}

.icon_yc-re:before {
  content: '\e812';
}

.icon_yc-shang:before {
  content: '\e813';
}

.icon_yc-pinglun:before {
  content: '\e7ed';
}

.icon_yc-zan:before {
  content: '\e810';
}

.icon_yc-a-zujian1523:before {
  content: '\e7e8';
}

.icon_yc-xinzeng2:before {
  content: '\e7e9';
}

.icon_yc-xia:before {
  content: '\e7eb';
}

.icon_yc-a-zu36132:before {
  content: '\e7ef';
}

.icon_yc-a-zujian1511:before {
  content: '\e7f0';
}

.icon_yc-a-zujian1742:before {
  content: '\e7f1';
}

.icon_yc-a-zujian1533:before {
  content: '\e7f2';
}

.icon_yc-a-zujian1801:before {
  content: '\e7f3';
}

.icon_yc-a-zujian1791:before {
  content: '\e7f4';
}

.icon_yc-a-zujian15412:before {
  content: '\e7f5';
}

.icon_yc-a-zujian1942:before {
  content: '\e7f8';
}

.icon_yc-a-zujian2281:before {
  content: '\e7fc';
}

.icon_yc-a-zujian2025:before {
  content: '\e7fd';
}

.icon_yc-a-zujian2035:before {
  content: '\e7fe';
}

.icon_yc-a-zujian2073:before {
  content: '\e800';
}

.icon_yc-a-zujian20438:before {
  content: '\e804';
}

.icon_yc-a-zujian1811:before {
  content: '\e805';
}

.icon_yc-a-zujian1521:before {
  content: '\e806';
}

.icon_yc-a-zujian2291:before {
  content: '\e807';
}

.icon_yc-a-zujian2231:before {
  content: '\e808';
}

.icon_yc-a-zujian2053:before {
  content: '\e80c';
}

.icon_yc-a-zujian2361:before {
  content: '\e80d';
}

.icon_yc-a-zujian2211:before {
  content: '\e80e';
}

.icon_yc-a-zujian1752:before {
  content: '\e80f';
}

.icon_yc-a-zu17651:before {
  content: '\e7e6';
}

.icon_yc-guanlian:before {
  content: '\e7e1';
}

.icon_yc-jiechubangding:before {
  content: '\e7e2';
}

.icon_yc-yingxiao:before {
  content: '\e7e3';
}

.icon_yc-caijiqi:before {
  content: '\e7e4';
}

.icon_yc-jiaoseleixingpeizhipeizhi:before {
  content: '\e7e0';
}

.icon_yc-zhihang:before {
  content: '\e7dd';
}

.icon_yc-jiaobiao:before {
  content: '\e7d3';
}

.icon_yc-fujian:before {
  content: '\e7d4';
}

.icon_yc-xiangxixinxi:before {
  content: '\e7d5';
}

.icon_yc-daochu:before {
  content: '\e7d2';
}

.icon_yc-daohang:before {
  content: '\e7d1';
}

.icon_yc-yuanchengfeikong:before {
  content: '\e7d9';
}

.icon_yc-bendifeikong-shengyudianliang:before {
  content: '\e7da';
}

.icon_yc-peiwangshebei:before {
  content: '\e7db';
}

.icon_yc-bendifeikong:before {
  content: '\e7dc';
}

.icon_yc-baobei1:before {
  content: '\e7cd';
}

.icon_yc-xiafa1:before {
  content: '\e7d8';
}

.icon_yc-fenxixiangdao:before {
  content: '\e7d0';
}

.icon_yc-spot:before {
  content: '\e7ce';
}

.icon_yc-indicator:before {
  content: '\e7cf';
}

.icon_yc-tag:before {
  content: '\e7c9';
}

.icon_yc-monitoring1:before {
  content: '\e7ca';
}

.icon_yc-yunxingzhongduanyichangshu:before {
  content: '\e7c6';
}

.icon_yc-weishouquanzhongduanshu1:before {
  content: '\e7c7';
}

.icon_yc-weishouquanxinpianshu:before {
  content: '\e7c8';
}

.icon_yc-wuliankayichangshu1:before {
  content: '\e77b';
}

.icon_yc-yisitaiqucuowuyonghushu:before {
  content: '\e7c5';
}

.icon_yc-rigongdianliang:before {
  content: '\e7c0';
}

.icon_yc-rixiansundianliang1:before {
  content: '\e7c2';
}

.icon_yc-riyongdianliang1:before {
  content: '\e7c4';
}

.icon_yc-map:before {
  content: '\e7be';
}

.icon_yc-a-Deliversthepower:before {
  content: '\e7bd';
}

.icon_yc-a-NumberofnewUsers:before {
  content: '\e7b7';
}

.icon_yc-a-Newcapacity:before {
  content: '\e7b5';
}

.icon_yc-a-Accesstothecapacity:before {
  content: '\e7b4';
}

.icon_yc-a-generateelectricity:before {
  content: '\e7b2';
}

.icon_yc-a-datadeclaration:before {
  content: '\e7b1';
}

.icon_yc-max1:before {
  content: '\e7aa';
}

.icon_yc-min1:before {
  content: '\e7ae';
}

.icon_yc-a-Inpeakvalue:before {
  content: '\e7af';
}

.icon_yc-avg:before {
  content: '\e7b0';
}

.icon_yc-taiqudangan:before {
  content: '\e7a8';
}

.icon_yc-xinpian:before {
  content: '\e7ad';
}

.icon_yc-Set:before {
  content: '\e7a7';
}

.icon_yc-fuhe1:before {
  content: '\e79e';
}

.icon_yc-caijishujuyichanglv:before {
  content: '\e79f';
}

.icon_yc-shizhicaijichenggonglv:before {
  content: '\e7a0';
}

.icon_yc-zhuanxianyonghu1:before {
  content: '\e7a1';
}

.icon_yc-fenbushidianyuanyonghu:before {
  content: '\e7a2';
}

.icon_yc-diyayonghu1:before {
  content: '\e7a3';
}

.icon_yc-zhuanbianyonghu1:before {
  content: '\e7a5';
}

.icon_yc-xiansunlv:before {
  content: '\e7a6';
}

.icon_yc-queue:before {
  content: '\e79c';
}

.icon_yc-a-Processnode:before {
  content: '\e799';
}

.icon_yc-kafka:before {
  content: '\e79b';
}

.icon_yc-gaoliangquxian:before {
  content: '\e797';
}

.icon_yc-quxian:before {
  content: '\e798';
}

.icon_yc-pinless1:before {
  content: '\e792';
}

.icon_yc-hot:before {
  content: '\e795';
}

.icon_yc-clean:before {
  content: '\e790';
}

.icon_yc-fire:before {
  content: '\e793';
}

.icon_yc-time:before {
  content: '\e794';
}

.icon_yc-inversion:before {
  content: '\e791';
}

.icon_yc-a-electricitymeter:before {
  content: '\e753';
}

.icon_yc-endtime:before {
  content: '\e754';
}

.icon_yc-a-Managementunit:before {
  content: '\e78d';
}

.icon_yc-occurrence:before {
  content: '\e78e';
}

.icon_yc-usnumber:before {
  content: '\e78f';
}

.icon_yc-jrfdl:before {
  content: '\e789';
}

.icon_yc-jrydl:before {
  content: '\e78a';
}

.icon_yc-jrsdl:before {
  content: '\e78b';
}

.icon_yc-jrswdl:before {
  content: '\e78c';
}

.icon_yc-unwind:before {
  content: '\e788';
}

.icon_yc-initiate:before {
  content: '\e782';
}

.icon_yc-surface:before {
  content: '\e783';
}

.icon_yc-database:before {
  content: '\e784';
}

.icon_yc-educe:before {
  content: '\e785';
}

.icon_yc-clear:before {
  content: '\e786';
}

.icon_yc-origin:before {
  content: '\e787';
}

.icon_yc-unusual:before {
  content: '\e780';
}

.icon_yc-interlinkage:before {
  content: '\e781';
}

.icon_yc-fenbushidianyuan:before {
  content: '\e73d';
}

.icon_yc-fuhefenggucha:before {
  content: '\e742';
}

.icon_yc-pingjunfuhe:before {
  content: '\e770';
}

.icon_yc-ritongjixiansunlv:before {
  content: '\e777';
}

.icon_yc-rigongdianl:before {
  content: '\e778';
}

.icon_yc-zuidafuhe1:before {
  content: '\e77a';
}

.icon_yc-shoudianliang11:before {
  content: '\e77d';
}

.icon_yc-zuixiaofuhe:before {
  content: '\e77e';
}

.icon_yc-recommend1:before {
  content: '\e76a';
}

.icon_yc-cjycmx:before {
  content: '\e761';
}

.icon_yc-llxsfzgl:before {
  content: '\e762';
}

.icon_yc-sjzb:before {
  content: '\e763';
}

.icon_yc-tqxsjc:before {
  content: '\e764';
}

.icon_yc-ychcgl:before {
  content: '\e767';
}

.icon_yc-yctqzdfx:before {
  content: '\e768';
}

.icon_yc-zdsszxjc:before {
  content: '\e769';
}

.icon_yc-wangluo:before {
  content: '\e759';
}

.icon_yc-data:before {
  content: '\e756';
}

.icon_yc-save12:before {
  content: '\e766';
}

.icon_yc-add:before {
  content: '\e765';
}

.icon_yc-zrsdl1:before {
  content: '\e74d';
}

.icon_yc-qnjrsdl1:before {
  content: '\e755';
}

.icon_yc-jrfhfgc:before {
  content: '\e74c';
}

.icon_yc-jrhbzzl:before {
  content: '\e74e';
}

.icon_yc-jrpjfh:before {
  content: '\e74f';
}

.icon_yc-jrtbzzl:before {
  content: '\e750';
}

.icon_yc-jrzdfh:before {
  content: '\e751';
}

.icon_yc-jrzxfh:before {
  content: '\e752';
}

.icon_yc-jrgdl:before {
  content: '\e74b';
}

.icon_yc-min:before {
  content: '\e74a';
}

.icon_yc-gongdiangongsi:before {
  content: '\e740';
}

.icon_yc-renzheng:before {
  content: '\e741';
}

.icon_yc-revocation:before {
  content: '\e73b';
}

.icon_yc-change:before {
  content: '\e73a';
}

.icon_yc-win:before {
  content: '\e736';
}

.icon_yc-execution:before {
  content: '\e737';
}

.icon_yc-lose1:before {
  content: '\e738';
}

.icon_yc-stop:before {
  content: '\e739';
}

.icon_yc-trip:before {
  content: '\e731';
}

.icon_yc-message1:before {
  content: '\e733';
}

.icon_yc-relieve:before {
  content: '\e734';
}

.icon_yc-a-putinto:before {
  content: '\e735';
}

.icon_yc-a-switchon:before {
  content: '\e732';
}

.icon_yc-oracle:before {
  content: '\e730';
}

.icon_yc-Hive:before {
  content: '\e72f';
}

.icon_yc-kudu:before {
  content: '\e72c';
}

.icon_yc-hbase:before {
  content: '\e72d';
}

.icon_yc-mysql:before {
  content: '\e72e';
}

.icon_yc-examine:before {
  content: '\e72b';
}

.icon_yc-a-Maximumloadtimeindryseason:before {
  content: '\e729';
}

.icon_yc-a-Maximumadjustableoutput:before {
  content: '\e72a';
}

.icon_yc-tiaozheng:before {
  content: '\e723';
}

.icon_yc-fuhe:before {
  content: '\e724';
}

.icon_yc-yujing:before {
  content: '\e725';
}

.icon_yc-zuidafuhe:before {
  content: '\e726';
}

.icon_yc-quekouzongliang:before {
  content: '\e727';
}

.icon_yc-waigou:before {
  content: '\e728';
}

.icon_yc-left:before {
  content: '\e722';
}

.icon_yc-arrow-copy:before {
  content: '\e87b';
}

.icon_yc-more1:before {
  content: '\e71d';
}

.icon_yc-a-Dataunit:before {
  content: '\e71e';
}

.icon_yc-a-Taskflow1:before {
  content: '\e71f';
}

.icon_yc-list:before {
  content: '\e720';
}

.icon_yc-arrow:before {
  content: '\e721';
}

.icon_yc-duplication:before {
  content: '\e71c';
}

.icon_yc-offline:before {
  content: '\e71a';
}

.icon_yc-online:before {
  content: '\e71b';
}

.icon_yc-shaixuanfenlei:before {
  content: '\e719';
}

.icon_yc-a-heatmeter-copy:before {
  content: '\e87c';
}

.icon_yc-a-Energyrouter-copy:before {
  content: '\e951';
}

.icon_yc-collector:before {
  content: '\e707';
}

.icon_yc-a-Branchdetectiondevice:before {
  content: '\e708';
}

.icon_yc-concentrator:before {
  content: '\e70a';
}

.icon_yc-a-Electricenergymeteracquisition:before {
  content: '\e70c';
}

.icon_yc-a-Energyrouter:before {
  content: '\e70d';
}

.icon_yc-other1:before {
  content: '\e712';
}

.icon_yc-a-Secondarycircuitinspectioninstrument:before {
  content: '\e713';
}

.icon_yc-security:before {
  content: '\e706';
}

.icon_yc-material:before {
  content: '\e704';
}

.icon_yc-safety:before {
  content: '\e705';
}

.icon_yc-xinzeng1:before {
  content: '\e702';
}

.icon_yc-guidang1:before {
  content: '\e703';
}

.icon_yc-a-6:before {
  content: '\e6fb';
}

.icon_yc-a-7:before {
  content: '\e6ff';
}

.icon_yc-a-5:before {
  content: '\e700';
}

.icon_yc-a-4:before {
  content: '\e701';
}

.icon_yc-district:before {
  content: '\e6fa';
}

.icon_yc-that:before {
  content: '\e6fc';
}

.icon_yc-city:before {
  content: '\e6fd';
}

.icon_yc-province:before {
  content: '\e6fe';
}

.icon_yc-terminal:before {
  content: '\e6f5';
}

.icon_yc-unit:before {
  content: '\e6f6';
}

.icon_yc-user:before {
  content: '\e6f7';
}

.icon_yc-transformer:before {
  content: '\e6f8';
}

.icon_yc-courts:before {
  content: '\e6f9';
}

.icon_yc-gathering:before {
  content: '\e6f2';
}

.icon_yc-system:before {
  content: '\e6f3';
}

.icon_yc-basic:before {
  content: '\e6f4';
}

.icon_yc-extended:before {
  content: '\e6f0';
}

.icon_yc-application:before {
  content: '\e6f1';
}

.icon_yc-a-Plantolif:before {
  content: '\e6eb';
}

.icon_yc-a-Projectinvestment:before {
  content: '\e6ef';
}

.icon_yc-a-shortnote:before {
  content: '\e6ea';
}

.icon_yc-a-Measuredparametercalled:before {
  content: '\e6ec';
}

.icon_yc-a-Inputstatuscalltest:before {
  content: '\e6ed';
}

.icon_yc-a-Parametersofthedistribute:before {
  content: '\e6ee';
}

.icon_yc-location:before {
  content: '\e6e9';
}

.icon_yc-judge:before {
  content: '\e6e8';
}

.icon_yc-reset:before {
  content: '\e6e7';
}

.icon_yc-a-tolead1:before {
  content: '\e6e5';
}

.icon_yc-unbundle:before {
  content: '\e6e2';
}

.icon_yc-bound:before {
  content: '\e6e3';
}

.icon_yc-a-Batchauthorization:before {
  content: '\e6e6';
}

.icon_yc-contrast:before {
  content: '\e6e1';
}

.icon_yc-medium:before {
  content: '\e87a';
}

.icon_yc-legend:before {
  content: '\e6e0';
}

.icon_yc-editor1:before {
  content: '\e6df';
}

.icon_yc-yunxingqingkuangjiance:before {
  content: '\e6de';
}

.icon_yc-shujuzhaoce:before {
  content: '\e6d8';
}

.icon_yc-canshushezhi:before {
  content: '\e6d9';
}

.icon_yc-yonghushuju:before {
  content: '\e6da';
}

.icon_yc-danhuzhaoce:before {
  content: '\e6db';
}

.icon_yc-xunjianyishujuchaxun:before {
  content: '\e6dc';
}

.icon_yc-caijichenggonglvfenxi:before {
  content: '\e6dd';
}

.icon_yc-a-Terminalclockpatrol5:before {
  content: '\e6d1';
}

.icon_yc-a-detailenquiry1:before {
  content: '\e6d2';
}

.icon_yc-a-Proofreadingtasks3:before {
  content: '\e6d3';
}

.icon_yc-a-handleanexception4:before {
  content: '\e6d4';
}

.icon_yc-a-Theterminalisabnormal2:before {
  content: '\e6d5';
}

.icon_yc-a-Abnormalelectricity1:before {
  content: '\e6cf';
}

.icon_yc-a-Archiverate2:before {
  content: '\e6d0';
}

.icon_yc-a-Statisticsoffrequentout-of-differenceelectrici:before {
  content: '\e641';
}

.icon_yc-a-real-timesupervision3:before {
  content: '\e6c4';
}

.icon_yc-a-Passrateofelectricitymeterclock13:before {
  content: '\e6c5';
}

.icon_yc-a-lineloss4:before {
  content: '\e6c6';
}

.icon_yc-a-Serverclockmonitoring10:before {
  content: '\e6c7';
}

.icon_yc-a-Passrateofclock12:before {
  content: '\e6c8';
}

.icon_yc-a-Governancemonitoring6:before {
  content: '\e6c9';
}

.icon_yc-inspect8:before {
  content: '\e6ca';
}

.icon_yc-a-Arealineloss5:before {
  content: '\e6cb';
}

.icon_yc-a-diagnosticanalysis7:before {
  content: '\e6cd';
}

.icon_yc-a-ClockSourceManagement9:before {
  content: '\e6ce';
}

.icon_yc-a-Freezepowergeneration1:before {
  content: '\e6c2';
}

.icon_yc-a-Frozenelectricityconsumption:before {
  content: '\e6c3';
}

.icon_yc-lose:before {
  content: '\e6b9';
}

.icon_yc-succeed:before {
  content: '\e6ba';
}

.icon_yc-Application:before {
  content: '\e6bb';
}

.icon_yc-playing:before {
  content: '\e6bc';
}

.icon_yc-debugging:before {
  content: '\e6be';
}

.icon_yc-theaters:before {
  content: '\e6bf';
}

.icon_yc-administration1:before {
  content: '\e6c0';
}

.icon_yc-operation:before {
  content: '\e6c1';
}

.icon_yc-establish1:before {
  content: '\e6bd';
}

.icon_yc-abnormal:before {
  content: '\e6b1';
}

.icon_yc-a-Knowledgecommunity:before {
  content: '\e6b3';
}

.icon_yc-other:before {
  content: '\e6b7';
}

.icon_yc-indicators:before {
  content: '\e6b8';
}

.icon_yc-archives:before {
  content: '\e6af';
}

.icon_yc-all:before {
  content: '\e6b0';
}

.icon_yc-load1:before {
  content: '\e6b2';
}

.icon_yc-monitoring:before {
  content: '\e6b4';
}

.icon_yc-electricity:before {
  content: '\e6b6';
}

.icon_yc-expand1:before {
  content: '\e6ae';
}

.icon_yc-up:before {
  content: '\e677';
}

.icon_yc-return1:before {
  content: '\e6ad';
}

.icon_yc-amount:before {
  content: '\e6a9';
}

.icon_yc-production1:before {
  content: '\e6aa';
}

.icon_yc-yesterday:before {
  content: '\e6ac';
}

.icon_yc-production:before {
  content: '\e6a2';
}

.icon_yc-administration:before {
  content: '\e6a3';
}

.icon_yc-file1:before {
  content: '\e6a1';
}

.icon_yc-establish:before {
  content: '\e6a0';
}

.icon_yc-Thousands:before {
  content: '\e6a8';
}

.icon_yc-digifax1:before {
  content: '\e69d';
}

.icon_yc-manufacture:before {
  content: '\e69e';
}

.icon_yc-a-Packup-copy:before {
  content: '\e98e';
}

.icon_yc-expand:before {
  content: '\e69c';
}

.icon_yc-load:before {
  content: '\e697';
}

.icon_yc-output:before {
  content: '\e698';
}

.icon_yc-a-Taskflow:before {
  content: '\e699';
}

.icon_yc-subtasks:before {
  content: '\e69a';
}

.icon_yc-remote-check:before {
  content: '\e695';
}

.icon_yc-freehand:before {
  content: '\e600';
}

.icon_yc-pdf:before {
  content: '\e693';
}

.icon_yc-logout-cancel:before {
  content: '\e692';
}

.icon_yc-logout:before {
  content: '\e690';
}

.icon_yc-maintain-measuring-point:before {
  content: '\e691';
}

.icon_yc-log:before {
  content: '\e68f';
}

.icon_yc-out-of-service:before {
  content: '\e68b';
}

.icon_yc-remove:before {
  content: '\e68d';
}

.icon_yc-put-into-service:before {
  content: '\e68e';
}

.icon_yc-new:before {
  content: '\e67b';
}

.icon_yc-approval:before {
  content: '\e672';
}

.icon_yc-query1:before {
  content: '\e666';
}

.icon_yc-Input:before {
  content: '\e665';
}

.icon_yc-message:before {
  content: '\e664';
}

.icon_yc-a-checkthetime:before {
  content: '\e660';
}

.icon_yc-a-akeyprocessing:before {
  content: '\e65d';
}

.icon_yc-issue:before {
  content: '\e65e';
}

.icon_yc-synchronization:before {
  content: '\e65f';
}

.icon_yc-a-fieldinspection:before {
  content: '\e661';
}

.icon_yc-annotation:before {
  content: '\e65c';
}

.icon_yc-zongshu:before {
  content: '\e658';
}

.icon_yc-guidang:before {
  content: '\e659';
}

.icon_yc-zaitu:before {
  content: '\e65a';
}

.icon_yc-a-jianqu63:before {
  content: '\e65b';
}

.icon_yc-peakvalue:before {
  content: '\e650';
}

.icon_yc-Generatingpower:before {
  content: '\e651';
}

.icon_yc-Usernumber:before {
  content: '\e653';
}

.icon_yc-on-gridenergy:before {
  content: '\e655';
}

.icon_yc-Accesscapacity:before {
  content: '\e656';
}

.icon_yc-Internetpower:before {
  content: '\e657';
}

.icon_yc-successful:before {
  content: '\e64d';
}

.icon_yc-failure:before {
  content: '\e64e';
}

.icon_yc-warning:before {
  content: '\e64f';
}

.icon_yc-a-FrozenOnlinepower:before {
  content: '\e640';
}

.icon_yc-a-download:before {
  content: '\e64a';
}

.icon_yc-a-file:before {
  content: '\e64b';
}

.icon_yc-upload:before {
  content: '\e64c';
}

.icon_yc-Photovoltaic:before {
  content: '\e649';
}

.icon_yc-download:before {
  content: '\e648';
}

.icon_yc-a-largestload:before {
  content: '\e647';
}

.icon_yc-a-peakvalley:before {
  content: '\e642';
}

.icon_yc-given:before {
  content: '\e645';
}

.icon_yc-a-Powergeneration:before {
  content: '\e646';
}

.icon_yc-Flink:before {
  content: '\e68c';
}

.icon_yc-Debug:before {
  content: '\e603';
}

.icon_yc-Calltest:before {
  content: '\e602';
}

.icon_yc-Users:before {
  content: '\e635';
}

.icon_yc-Passed:before {
  content: '\e637';
}

.icon_yc-Untreated:before {
  content: '\e63d';
}

.icon_yc-Failed:before {
  content: '\e63e';
}

.icon_yc-Assignment:before {
  content: '\e62e';
}

.icon_yc-Accuracy:before {
  content: '\e634';
}

.icon_yc-Evaluation:before {
  content: '\e626';
}

.icon_yc-Linelossrate:before {
  content: '\e627';
}

.icon_yc-Electricquantity:before {
  content: '\e628';
}

.icon_yc-benefit:before {
  content: '\e629';
}

.icon_yc-stock:before {
  content: '\e604';
}

.icon_yc-dispose:before {
  content: '\e623';
}

.icon_yc-increase01:before {
  content: '\e624';
}

.icon_yc-editor:before {
  content: '\e614';
}

.icon_yc-amplification:before {
  content: '\e61b';
}

.icon_yc-line:before {
  content: '\e61c';
}

.icon_yc-narrow:before {
  content: '\e61d';
}

.icon_yc-delete:before {
  content: '\e61f';
}

.icon_yc-save:before {
  content: '\e620';
}

.icon_yc-neat:before {
  content: '\e621';
}

.icon_yc-release:before {
  content: '\e622';
}

.icon_yc-start:before {
  content: '\e60b';
}

.icon_yc-end:before {
  content: '\e60c';
}

.icon_yc-process:before {
  content: '\e613';
}

.icon_yc-a-reduce:before {
  content: '\e619';
}

.icon_yc-a-increase:before {
  content: '\e61a';
}

.icon_yc-a-Platform:before {
  content: '\e615';
}

.icon_yc-a-Selected:before {
  content: '\e617';
}

.icon_yc-spark:before {
  content: '\e68a';
}

.icon_yc-SHELL:before {
  content: '\e688';
}

.icon_yc-sub_process:before {
  content: '\e687';
}

.icon_yc-shu:before {
  content: '\e686';
}

.icon_yc-file:before {
  content: '\e685';
}

.icon_yc-classification:before {
  content: '\e605';
}

.icon_yc-a-Quarterlyselectionbox:before {
  content: '\e606';
}

.icon_yc-a-IPinputbox:before {
  content: '\e607';
}

.icon_yc-switch:before {
  content: '\e608';
}

.icon_yc-tree:before {
  content: '\e609';
}

.icon_yc-a-Shuttlebox:before {
  content: '\e60a';
}

.icon_yc-digifax:before {
  content: '\e681';
}

.icon_yc-today:before {
  content: '\e684';
}

.icon_yc-derive1:before {
  content: '\e680';
}

.icon_yc-a-packup1:before {
  content: '\e67f';
}

.icon_yc-slide:before {
  content: '\e67e';
}

.icon_yc-logo:before {
  content: '\e67d';
}

.icon_yc-PPT:before {
  content: '\e679';
}

.icon_yc-hint:before {
  content: '\e678';
}

.icon_yc-join:before {
  content: '\e675';
}

.icon_yc-derive:before {
  content: '\e676';
}

.icon_yc-leading-in:before {
  content: '\e674';
}

.icon_yc-upgrade:before {
  content: '\e673';
}

.icon_yc-increase1:before {
  content: '\e671';
}

.icon_yc-increase:before {
  content: '\e670';
}

.icon_yc-uploading:before {
  content: '\e66f';
}

.icon_yc-click:before {
  content: '\e66d';
}

.icon_yc-analysis:before {
  content: '\e66e';
}

.icon_yc-a-homepage:before {
  content: '\e66c';
}

.icon_yc-collect:before {
  content: '\e668';
}

.icon_yc-unfold:before {
  content: '\e669';
}

.icon_yc-a-packup:before {
  content: '\e66b';
}

.icon_yc-star:before {
  content: '\e612';
}

.icon_yc-notice-copy:before {
  content: '\e98f';
}

.icon_yc-avatar:before {
  content: '\e60d';
}

.icon_yc-notice:before {
  content: '\e60e';
}

.icon_yc-book-mark:before {
  content: '\e610';
}

.icon_yc-stat-grid-logo:before {
  content: '\e611';
}

.icon_yc-xinzeng:before {
  content: '\e663';
}

.icon_yc-shanchu:before {
  content: '\e662';
}

.icon_yc-theme:before {
  content: '\e689';
}

.icon_yc-icon_translate1:before {
  content: '\e63c';
}

.icon_yc-top_icon_translate2:before {
  content: '\e63b';
}

.icon_yc-lock_icon_invisible:before {
  content: '\e639';
}

.icon_yc-lock_icon_visible:before {
  content: '\e63a';
}

.icon_yc-login_icon_password:before {
  content: '\e62a';
}

.icon_yc-login_icon_vc:before {
  content: '\e62b';
}

.icon_yc-login_icon_user:before {
  content: '\e62c';
}

.icon_yc-top_icon_debug:before {
  content: '\e62d';
}

.icon_yc-top_icon_esc1:before {
  content: '\e62f';
}

.icon_yc-top_icon_fullscreen1:before {
  content: '\e631';
}

.icon_yc-top_icon_refresh:before {
  content: '\e632';
}

.icon_yc-top_icon_search:before {
  content: '\e633';
}

.icon_yc-top_icon_set:before {
  content: '\e636';
}
