@import 'common/var';

@font-face {
  font-family: 'iconfont'; /* Project id 4841030 */
  src:
    url('#{$--font-path}/iconfont.woff2') format('woff2'),
    url('#{$--font-path}/iconfont.woff') format('woff'),
    url('#{$--font-path}/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^='iconfont-'],
[class*=' iconfont-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-outlin-404:before {
  content: '\e658';
}

.iconfont-list:before {
  content: '\e7f4';
}

.iconfont-bug-fill:before {
  content: '\e8e8';
}

.iconfont-bug:before {
  content: '\e8e9';
}

.iconfont-checkbox-fill:before {
  content: '\ec58';
}

.iconfont-touch:before {
  content: '\e600';
}

.iconfont-chart-fill:before {
  content: '\e60a';
}

.iconfont-chart:before {
  content: '\e694';
}

.iconfont-cascader-fill:before {
  content: '\e7d3';
}

.iconfont-checkbox:before {
  content: '\e648';
}

.iconfont-cascader:before {
  content: '\e661';
}

.iconfont-table:before {
  content: '\eab2';
}

.iconfont-outside-404:before {
  content: '\e603';
}

.iconfont-full-screen-exit:before {
  content: '\e72e';
}
