@import 'mixins/mixins';

$typeMap: (
  primary: (
    color: var(--link-primary-font-color)
  ),
  danger: (
    color: var(--link-danger-font-color)
  ),
  success: (
    color: var(--link-success-font-color)
  ),
  warning: (
    color: var(--link-warning-font-color)
  ),
  info: (
    color: var(--link-info-font-color)
  )
);

@include b(link) {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: var(--link-font-size);
  font-weight: var(--link-font-weight);

  @include when(underline) {
    &:hover:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 0;
      bottom: 0;
      border-bottom: 1px solid var(--link-default-active-color);
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
  }

  & [class*='sg-icon-'] {
    & + span {
      margin-left: 5px;
    }
  }

  &.sg-link--default {
    color: var(--link-default-font-color);
    &:hover {
      color: var(--link-default-active-color);
    }
    &:after {
      border-color: var(--link-default-active-color);
    }
    @include when(disabled) {
      color: var(--link-disabled-font-color);
    }
  }

  @each $type, $primaryColor in $typeMap {
    &.sg-link--#{$type} {
      $color: map-get($primaryColor, color);
      color: $color;
      &:hover {
        color: color-mix(in srgb, $color, var(--color-white) 20%);
      }
      &:after {
        border-color: $color;
      }
      @include when(disabled) {
        color: color-mix(in srgb, $color, var(--color-white) 50%);
      }
      @include when(underline) {
        &:hover:after {
          border-color: $color;
        }
      }
    }
  }
}
