@import 'mixins/mixins';
@import 'mixins/utils';
@import 'input-number';
@import 'tooltip';

@include b(slider) {
  @include utils-clearfix;

  @include e(runway) {
    width: 100%;
    height: var(--slider-height);
    margin: var(--slider-margin);
    background-color: var(--slider-runway-background-color);
    border-radius: var(--slider-border-radius);
    position: relative;
    cursor: pointer;
    vertical-align: middle;

    &.show-input {
      margin-right: 160px;
      width: auto;
    }

    &.disabled {
      cursor: default;

      .sg-slider__bar {
        background-color: var(--slider-disable-color);
      }

      .sg-slider__button {
        border-color: var(--slider-disable-color);
      }

      .sg-slider__button-wrapper {
        &:hover,
        &.hover {
          cursor: not-allowed;
        }

        &.dragging {
          cursor: not-allowed;
        }
      }

      .sg-slider__button {
        &:hover,
        &.hover,
        &.dragging {
          transform: scale(1);
        }

        &:hover,
        &.hover {
          cursor: not-allowed;
        }

        &.dragging {
          cursor: not-allowed;
        }
      }
    }
  }

  @include e(input) {
    float: right;
    margin-top: 3px;
    width: 130px;

    &.sg-input-number--mini {
      margin-top: 5px;
    }

    &.sg-input-number--medium {
      margin-top: 0;
    }

    &.sg-input-number--large {
      margin-top: -2px;
    }
  }

  @include e(bar) {
    height: var(--slider-height);
    background-color: var(--slider-main-background-color);
    border-top-left-radius: var(--slider-border-radius);
    border-bottom-left-radius: var(--slider-border-radius);
    position: absolute;
  }

  @include e(button-wrapper) {
    height: var(--slider-button-wrapper-size);
    width: var(--slider-button-wrapper-size);
    position: absolute;
    z-index: 1001;
    top: var(--slider-button-wrapper-offset);
    transform: translateX(-50%);
    background-color: transparent;
    text-align: center;
    user-select: none;
    line-height: normal;
    @include utils-vertical-center;

    .sg-tooltip {
      vertical-align: middle;
      display: inline-block;
    }

    &:hover,
    &.hover {
      cursor: grab;
    }

    &.dragging {
      cursor: grabbing;
    }
  }

  @include e(button) {
    width: var(--slider-button-size);
    height: var(--slider-button-size);
    border: solid 2px var(--slider-main-background-color);
    background-color: var(--color-white);
    border-radius: 50%;
    transition: 0.2s;
    user-select: none;

    &:hover,
    &.hover,
    &.dragging {
      transform: scale(1.2);
    }

    &:hover,
    &.hover {
      cursor: grab;
    }

    &.dragging {
      cursor: grabbing;
    }
  }

  @include e(stop) {
    position: absolute;
    height: var(--slider-height);
    width: var(--slider-height);
    border-radius: var(--border-radius-circle);
    background-color: var(--slider-stop-background-color);
    transform: translateX(-50%);
  }

  @include e(marks) {
    top: 0;
    left: 12px;
    width: 18px;
    height: 100%;

    @include e(marks-text) {
      position: absolute;
      transform: translateX(-50%);
      font-size: 14px;
      color: var(--color-info);
      margin-top: 15px;
    }
  }

  @include when(vertical) {
    position: relative;
    .sg-slider__runway {
      width: var(--slider-height);
      height: 100%;
      margin: 0 16px;
    }
    .sg-slider__bar {
      width: var(--slider-height);
      height: auto;
      border-radius: 0 0 3px 3px;
    }
    .sg-slider__button-wrapper {
      top: auto;
      left: var(--slider-button-wrapper-offset);
      transform: translateY(50%);
    }
    .sg-slider__stop {
      transform: translateY(50%);
    }
    &.sg-slider--with-input {
      padding-bottom: calc(var(--input-medium-height) + 22px);
      .sg-slider__input {
        overflow: visible;
        float: none;
        position: absolute;
        bottom: 22px;
        width: 36px;
        margin-top: 15px;
        .sg-input__inner {
          text-align: center;
          padding-left: 5px;
          padding-right: 5px;
        }
        .sg-input-number__decrease,
        .sg-input-number__increase {
          top: var(--input-small-height);
          margin-top: -1px;
          border: var(--input-border);
          line-height: 20px;
          box-sizing: border-box;
          transition: var(--border-transition-base);
        }
        .sg-input-number__decrease {
          width: 18px;
          right: 18px;
          border-bottom-left-radius: var(--input-border-radius);
        }
        .sg-input-number__increase {
          width: 19px;
          border-bottom-right-radius: var(--input-border-radius);
          & ~ .sg-input .sg-input__inner {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        &:hover {
          .sg-input-number__decrease,
          .sg-input-number__increase {
            border-color: var(--input-hover-border);
          }
        }
        &:active {
          .sg-input-number__decrease,
          .sg-input-number__increase {
            border-color: var(--input-focus-border);
          }
        }
      }
    }

    @include e(marks-text) {
      margin-top: 0;
      left: 15px;
      transform: translateY(50%);
    }
  }
}
