@import 'mixins/mixins';

@include b(timeline) {
  margin: 0;
  font-size: var(--font-size-base);
  list-style: none;

  & .sg-timeline-item:last-child {
    & .sg-timeline-item__tail {
      display: none;
    }
  }
}
