@import 'mixins/mixins';
@import 'mixins/utils';

@import 'input';
@import 'button';
@import 'checkbox';
@import 'checkbox-group';

@include b(transfer) {
  font-size: var(--font-size-base);

  @include e(buttons) {
    display: inline-block;
    padding: 0 var(--base-value);
  }

  @include e(button) {
    display: block;
    margin: 0 auto;
    padding: 10px !important;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: 0;

    @include when(with-texts) {
      border-radius: var(--border-radius-base);
    }

    @include when(disabled) {
      border: var(--border-base);
      background-color: var(--background-color-base);
      color: var(--color-text-placeholder);

      &:hover {
        border: var(--border-base);
        background-color: var(--background-color-base);
        color: var(--color-text-placeholder);
      }
    }

    &:first-child {
      margin-bottom: var(--base-value);
    }

    &:nth-child(2) {
      margin: 0;
    }

    i,
    span {
      font-size: 14px;
    }

    & [class*='sg-icon-'] + span {
      margin-left: 0;
    }
  }
}

.verticalTransfer {
  display: flex;
  flex-direction: row;
}

.verticalTransferBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sg-button + .sg-button {
    margin-left: 0;
  }
}

@include b(transfer-panel) {
  border: 1px solid var(--transfer-border-color);
  border-radius: var(--transfer-border-radius);
  overflow: hidden;
  background: var(--background-color-page);
  display: inline-block;
  vertical-align: middle;
  width: var(--transfer-panel-width);
  max-height: 100%;
  box-sizing: border-box;
  position: relative;

  @include e(body) {
    height: var(--transfer-panel-body-height);
    background-color: var(--background-color-page);

    @include when(with-footer) {
      padding-bottom: var(--transfer-panel-footer-height);
    }
  }

  @include e(list) {
    margin: 0;
    padding: 6px 0;
    list-style: none;
    height: var(--transfer-panel-body-height);
    overflow: auto;
    box-sizing: border-box;

    @include when(filterable) {
      height: calc(var(--transfer-panel-body-height) - var(--transfer-filter-height) - 20px);
      padding-top: 0;
    }
  }

  @include e(item) {
    height: var(--transfer-item-height);
    line-height: var(--transfer-item-height);
    padding-left: 15px;
    display: block !important;

    & + .sg-transfer-panel__item {
      margin-left: 0;
    }

    &.sg-checkbox {
      color: var(--color-text-regular);
    }

    &:hover {
      color: var(--color-primary);
    }

    &.sg-checkbox .sg-checkbox__label {
      width: 100%;
      @include utils-ellipsis;
      display: block;
      box-sizing: border-box;
      padding-left: 24px;
      line-height: var(--transfer-item-height);
    }

    .sg-checkbox__input {
      position: absolute;
      top: 8px;
    }
  }

  @include e(filter) {
    text-align: center;
    margin: 15px;
    box-sizing: border-box;
    display: block;
    width: auto;

    .sg-input__inner {
      height: var(--transfer-filter-height);
      width: 100%;
      font-size: 12px;
      display: inline-block;
      box-sizing: border-box;
      border-radius: calc(var(--transfer-filter-height) / 2);
      padding-right: 10px;
      padding-left: 30px;
    }

    .sg-input__icon {
      margin-left: 5px;
    }

    .sg-icon-circle-close {
      cursor: pointer;
    }
  }

  .sg-transfer-panel__header {
    height: var(--transfer-panel-header-height);
    line-height: var(--transfer-panel-header-height);
    background: var(--transfer-panel-header-background-color);
    margin: 0;
    padding-left: 15px;
    border-bottom: 1px solid var(--transfer-border-color);
    box-sizing: border-box;
    color: var(--color-black);

    .sg-checkbox {
      display: block;
      line-height: 40px;

      .sg-checkbox__label {
        font-size: 16px;
        color: var(--color-text-primary);
        font-weight: normal;

        span {
          position: absolute;
          right: 15px;
          color: var(--color-text-secondary);
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }

  .sg-transfer-panel__footer {
    height: var(--transfer-panel-footer-height);
    background: var(--background-color-base);
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--transfer-border-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: var(--index-normal);
    @include utils-vertical-center;

    .sg-checkbox {
      padding-left: 20px;
      color: var(--color-text-regular);
    }
  }

  .sg-transfer-panel__empty {
    margin: 0;
    height: var(--transfer-item-height);
    line-height: var(--transfer-item-height);
    padding: 6px 15px 0;
    color: var(--color-text-secondary);
    text-align: center;
  }

  .sg-checkbox__label {
    padding-left: 8px;
  }

  .sg-checkbox__inner {
    height: 14px;
    width: 14px;
    border-radius: 3px;

    &::after {
      height: 6px;
      width: 3px;
      left: 4px;
    }
  }
}
