@import 'mixins/mixins';

@include b(tree-select) {
  height: 32px;
  .vue-treeselect__control {
    border-radius: 4px;
    border: 1px solid var(--border-color-base);
    box-sizing: border-box;
    padding: 0 15px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    height: 32px;
    background-color: var(--background-color-base);
    &:hover{
      border-color: var(--color-primary) !important;
    }
  }

  .vue-treeselect__menu{
    border: 1px solid var(--border-color-base);
  }
  .vue-treeselect--open-below .vue-treeselect__menu{
    border-top-color: var(--border-color-base);
  }

  .vue-treeselect--focused .vue-treeselect__control {
    border: 1px solid var(--border-color-base);
    box-shadow: none;
  }

  .vue-treeselect__value-container {
    color: var(--color-text-regular) !important;
    height: 30px;
  }

  .vue-treeselect--open .vue-treeselect__control {
    outline: none;
    // border-color: var(--input-focus-border)!important;
  }

  .vue-treeselect__checkbox {
    border-color: var(--color-primary);
  }
  .vue-treeselect__option--highlight{
    color: var(--color-primary);
    background-color: var(--background-color-hover);
  }
  .vue-treeselect__option--highlight .vue-treeselect__checkbox--checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }

  .vue-treeselect__checkbox--checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }
  .vue-treeselect__option--highlight .vue-treeselect__checkbox--indeterminate,
  .vue-treeselect__checkbox--indeterminate {
    background: var(--color-primary);
  }

  .vue-treeselect__multi-value-item {
    background: var(--color-primary);
    color: var(--color-text-primary);
  }

  .vue-treeselect__single-value{
    color: var(--color-text-primary);
  }

  .vue-treeselect__value-remove {
    color: var(--color-text-primary);
    border-left: 1px solid var(--border-color-base);
  }

  .vue-treeselect--single .vue-treeselect__option--selected {
    background: var(--background-color-hover);
  }

  .vue-treeselect__multi-value,
  .vue-treeselect__input-container > input,
  .vue-treeselect__menu,
  .vue-treeselect__multi-value-item {
    font-size: var(--tree-select-font-size-primary);
    background-color: var(--background-color-base);
    color: var(--color-text-regular);
  }
  .multipleTags {
    overflow: hidden;
  }
  .multipleTags .vue-treeselect__multi-value {
    white-space: nowrap;
    overflow: hidden;
  }
}

@include b(tree-select--medium) {
  .vue-treeselect__multi-value,
  .vue-treeselect__input-container > input,
  .vue-treeselect__menu,
  .vue-treeselect__multi-value-item {
    font-size: var(--tree-select-font-size-medium);
  }
  .multipleTags {
    overflow: hidden;
  }
  .multipleTags .vue-treeselect__multi-value {
    white-space: nowrap;
    overflow: hidden;
  }
}

@include b(tree-select--small) {
  .vue-treeselect__multi-value,
  .vue-treeselect__input-container > input,
  .vue-treeselect__menu,
  .vue-treeselect__multi-value-item {
    font-size: var(--tree-select-font-size-small);
  }
  .multipleTags {
    overflow: hidden;
  }
  .multipleTags .vue-treeselect__multi-value {
    white-space: nowrap;
    overflow: hidden;
  }
}

@include b(tree-select--mini) {
  .vue-treeselect__multi-value,
  .vue-treeselect__input-container > input,
  .vue-treeselect__menu,
  .vue-treeselect__multi-value-item {
    font-size: var(--tree-select-font-size-mini);
  }
  .multipleTags {
    overflow: hidden;
  }
  .multipleTags .vue-treeselect__multi-value {
    white-space: nowrap;
    overflow: hidden;
  }
}
