.sg-anchor {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    right: 80px;
}

.sg-anchor .itemClass {
    width: 40px;
    height: 40px;
    text-align: center;
    background: var(--background-color-base);
    border-radius: 4px;
    box-shadow: 0 0 black;
    display: inline-block;
    margin-bottom: 5px;
}

.sg-anchor .itemClass i{
    font-size: 30px;
    margin-top: 6px;
    color: var(--color-primary);
}
.sg-anchor .sg-anchor-item .itemClass:hover {
    background-color: var(--color-primary-light-2);
}

.sg-anchor .sg-anchor-item.isActive .itemClass{
    background-color: var(--color-primary);
}

.sg-anchor .sg-anchor-item .itemClass:hover i,
.sg-anchor .sg-anchor-item.isActive .itemClass i{
    color: var(--color-white);
}