.demo-carousel .block {
  padding: 30px;
  text-align: center;
  border-right: solid 1px var(--border-color-light);
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  &:last-child {
    border-right: none;
  }
}

.demo-carousel .demonstration {
  display: block;
  color: var(--color-text-regular);
  font-size: 14px;
  margin-bottom: 20px;
}

.demo-carousel .sg-carousel__container {
  text-align: center;
}

.demo-carousel .sg-carousel__item {
  h3 {
    color: var(--color-white);
    font-size: 18px;
    line-height: 300px;
    margin: 0;
    &.small {
      font-size: 14px;
      line-height: 150px;
    }
    &.medium {
      font-size: 14px;
      line-height: 200px;
    }
  }
  &:nth-child(2n) {
    background-color: var(--color-primary-light-5);
  }
  &:nth-child(2n + 1) {
    background-color: var(--color-primary-light-7);
  }
}

