.demo-color-picker .block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--border-color-light);
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  &:last-child {
    border-right: none;
  }
}
.demo-color-picker .demonstration {
  display: block;
  color: var(--color-text-regular);
  font-size: 14px;
  margin-bottom: 20px;
}
.demo-color-picker .sg-color-picker + .sg-color-picker {
  margin-left: 20px;
}
