.demo-block.demo-dialog {
  .full-image {
    width: 100%;
  }
  .sg-dialog__wrapper {
    margin: 0;
  }
  .sg-select {
    width: 300px;
  }
  .sg-input {
    width: 300px;
  }
  .sg-button--text {
    margin-right: 15px;
  }
}
