.demo-icon .source > div > i {
  color: var(--color-text-regular);
  margin: 0 20px;
  font-size: 1.5em;
  vertical-align: middle;
}

.demo-icon .source button {
  margin: 0 20px;
}

.page-component .content > ul.icon-list {
  overflow: hidden;
  list-style: none;
  padding: 0 !important;
  border: solid 1px var(--border-color-base);
  border-radius: 4px;
}
.icon-list li {
  float: left;
  width: 16.66%;
  text-align: center;
  height: 120px;
  line-height: 120px;
  color: var(--color-text-regular);
  font-size: 13px;
  border-right: 1px solid var(--border-color-light);
  border-bottom: 1px solid var(--border-color-light);
  margin-right: -1px;
  margin-bottom: -1px;

  &::after {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
    color: var(--color-info-light);
    transition: color 0.15s linear;
  }

  i {
    display: block;
    font-size: 32px;
    margin-bottom: 15px;
    color: var(--color-text-regular);
    transition: color 0.15s linear;
  }

  .icon-name {
    display: inline-block;
    padding: 0 3px;
    height: 1em;
  }

  &:hover {
    span,
    i {
      color: var(--color-primary);
    }
  }
}
