.demo-block.demo-menu {
  .sg-menu-demo {
    padding-left: 55px;
  }
  .sg-menu-vertical-demo:not(.sg-menu--collapse) {
    width: 240px;
    min-height: 400px;
  }
  .line {
    height: 1px;
    background-color: var(--background-color-base);
    margin: 35px -24px;
  }
  h5 {
    font-size: 14px;
    color: var(--color-info);
    margin-top: 10px;
  }
  .tac {
    text-align: center;

    .sg-menu-vertical-demo {
      display: inline-block;
      text-align: left;
    }
  }
}
