.sg-table .warning-row {
  background: oldlace;
}

.sg-table .success-row {
  background: var(--background-color-hover);
}

.demo-table .name-wrapper {
  display: inline-block;
}

.demo-table .demo-table-expand {
  label {
    width: 90px;
    color: var(--color-text-regular);
  }
  .sg-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
}
