.upload-tip {
    color: var(--color-info);
  font-size: 12px;
  margin-top: 7px;
}
.demo-block {
  margin-bottom: 24px;

  .upload-demo {
    width: 360px;
  }
  .avatar-uploader {
    .sg-upload {
      border: 1px dashed var(--border-color-base);
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &:hover,
      &:focus {
        border-color: var(--color-primary);
      }
    }
    .avatar-uploader-icon {
      font-size: 28px;
        color: var(--color-text-regular);
      width: 178px;
      height: 178px;
      line-height: 178px;
      text-align: center;
    }
    .avatar {
      width: 178px;
      height: 178px;
      display: block;
    }
  }
}
