@import '../mixins/mixins';

@import '../common/transition';

@include b(date-editor) {
  position: relative;
  display: inline-block;
  text-align: left;

  &.sg-input,
  &.sg-input__inner {
    width: 220px;
  }

  @include m((monthrange)) {
    &.sg-input,
    &.sg-input__inner {
      width: 300px;
    }
  }

  @include m((daterange, timerange)) {
    &.sg-input,
    &.sg-input__inner {
      width: 350px;
    }
  }

  @include m(datetimerange) {
    &.sg-input,
    &.sg-input__inner {
      width: 400px;
    }
  }

  @include m(dates) {
    .sg-input__inner {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .sg-icon-circle-close {
    cursor: pointer;
  }

  .sg-range__icon {
    font-size: 14px;
    margin-left: -5px;
    color: var(--color-text-placeholder);
    float: left;
    line-height: 32px;
  }

  .sg-range-input {
    appearance: none;
    border: none;
    outline: none;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 39%;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-text-regular);

    &::placeholder {
      color: var(--color-text-placeholder);
    }
  }

  .sg-range-separator {
    display: inline-block;
    height: 100%;
    padding: 0 5px;
    margin: 0;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    width: 5%;
    color: var(--color-text-primary);
  }

  .sg-range__close-icon {
    font-size: 14px;
    color: var(--color-text-placeholder);
    width: 25px;
    display: inline-block;
    float: right;
    line-height: 32px;
  }
}

@include b(range-editor) {
  &.sg-input__inner {
    display: inline-flex;
    align-items: center;
    padding: 3px 10px;
  }

  .sg-range-input {
    line-height: 1;
  }

  @include when(active) {
    border-color: var(--color-primary);

    &:hover {
      border-color: var(--color-primary);
    }
  }

  @include m(medium) {
    &.sg-input__inner {
      height: var(--input-medium-height);
    }

    .sg-range-separator {
      line-height: 28px;
      font-size: var(--input-medium-font-size);
    }

    .sg-range-input {
      font-size: var(--input-medium-font-size);
    }

    .sg-range__icon,
    .sg-range__close-icon {
      line-height: 28px;
    }
  }

  @include m(small) {
    &.sg-input__inner {
      height: var(--input-small-height);
    }

    .sg-range-separator {
      line-height: 24px;
      font-size: var(--input-small-font-size);
    }

    .sg-range-input {
      font-size: var(--input-small-font-size);
    }

    .sg-range__icon,
    .sg-range__close-icon {
      line-height: 24px;
    }
  }

  @include m(mini) {
    &.sg-input__inner {
      height: var(--input-mini-height);
    }

    .sg-range-separator {
      line-height: 20px;
      font-size: var(--input-mini-font-size);
    }

    .sg-range-input {
      font-size: var(--input-mini-font-size);
    }

    .sg-range__icon,
    .sg-range__close-icon {
      line-height: 20px;
    }
  }

  @include when(disabled) {
    background-color: var(--input-disabled-fill);
    border-color: var(--input-disabled-border);
    color: var(--input-disabled-color);
    cursor: not-allowed;

    &:hover,
    &:focus {
      border-color: var(--input-disabled-border);
    }

    input {
      background-color: var(--input-disabled-fill);
      color: var(--input-disabled-color);
      cursor: not-allowed;
      &::placeholder {
        color: var(--input-disabled-placeholder-color);
      }
    }

    .sg-range-separator {
      color: var(--input-disabled-color);
    }
  }
}
